/* Ref: https://www.codingnepalweb.com/playable-piano-html-css-javascript/ */

:root {
  /* 11 natural keys, 1 key width for github logo, and 2 key widths for horizontal padding */
  --ideal-key-width: calc(100vw / 14);

  --key-width: clamp(50px, var(--ideal-key-width), 90px);

  /* --key-width: 90px; */
  --portrait-natural-key-height: 192px;
  --portrait-accidental-key-height: 100px;
  --github-icon-size: var(--key-width);

  --waveform-toggle-border-radius: 8px;

  --button-color-active: rgb(0, 122, 255);
}

html,
body {
  height: 100%;
}

body {
  background: #e5e3e3;
  margin: 0;
  padding: 0;
  touch-action: pan-x pan-y;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

.content {
  /* display: flex; */
  /* add padding to balance out horizontal centering of keyboard in landscape*/
  margin: 0 auto;
  width: fit-content;
  padding: 16px 0;
  justify-content: center;
}

.keyboard {
  position: relative;
  list-style: none;
  padding: 0;
  display: inline-flex;
  margin: 0;
  flex-direction: column-reverse;
}

.key {
  position: relative;
  cursor: pointer;
  display: flex;
  border: 1px solid #e5e3e3;
  color: black;
  background: white;
  padding: 0;
  justify-content: flex-end;
  align-items: end;
}

.item--natural-note,
.item--github-wrapper {
  width: 192px;
  height: 90px;
}

.item--github-wrapper {
  display: flex;
  justify-content: end;
}

.key--natural-note {
  color: black;
  background: white;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.key.key--enabled,
.key--natural-note.key--enabled {
  color: white;
  background: var(--button-color-active);
}

.item--accidental-note {
  margin: -45px 0;
  width: 100px;
  height: 90px;
}

.key--accidental-note {
  color: white;
  z-index: 1;
  background: #353535;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.key__name-wrapper {
  transform: rotate(-90deg);
  width: 6ch;
  height: 6ch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key__name,
.key__note-name {
  font-size: 1.2rem;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

.key__note-name {
  display: none;
}

.github-mark-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.github-mark {
  height: auto;
  width: 45%;
  transform: rotate(-90deg);
}

.waveform-option-toggle {
  display: inline-flex;
}

.waveform-option {
  display: none;
}

.waveform-option-label {
  background: white;
  cursor: pointer;
}

.waveform-option:not(:checked):hover + .waveform-option-label {
  color: white;
  background: rgb(108, 108, 112);
}

.waveform-option:checked + .waveform-option-label {
  color: #fff;
  background: var(--button-color-active);
}

.waveform-option-label:first-of-type {
  border-radius: var(--waveform-toggle-border-radius) 0 0 var(--waveform-toggle-border-radius);
}

.waveform-option-label:last-of-type {
  border-radius: 0 var(--waveform-toggle-border-radius) var(--waveform-toggle-border-radius) 0;
}

.waveform-icon-wrapper {
  width: calc(var(--key-width) - 16px);
  padding: 8px;
}

.waveform-icon-wrapper svg {
  height: auto;
  width: 100%;
}

/* Ref: https://stackoverflow.com/a/71472996 */
@media screen and (min-width: 768px) {
  /* the width is greater than the height; assume mobile */
  .content {
    padding: 8px var(--key-width) 0 var(--key-width);
    transform: unset;
  }

  .keyboard {
    /* make keyboard horizontal */
    flex-direction: row;
  }

  .item--natural-note,
  .item--github-wrapper {
    width: var(--key-width);
    height: calc(var(--key-width) * 192 / 90);
  }

  .item--github-wrapper {
    align-items: end;
    justify-content: center;
  }

  .github-mark-wrapper {
    height: var(--key-width);
  }

  .item--accidental-note {
    width: var(--key-width);
    height: calc(var(--key-width) * 100 / 90);
    margin: 0 calc(var(--key-width) * -0.5);
  }

  .key {
    justify-content: flex-start;
  }

  .key__name-wrapper {
    transform: unset;
  }

  .github-mark {
    transform: unset;
  }
}
