/* Ref: https://www.codingnepalweb.com/playable-piano-html-css-javascript/ */

:root {
  --key-width: 90px;
  --portrait-natural-key-height: 192px;
  --portrait-accidental-key-height: 100px;
}

body {
  background: #e5e3e3;
  margin: 0;
  touch-action: manipulation;
}

.content {
  padding: 8px 0;
}

.content {
  margin: 0 auto;
  width: fit-content;
  display: flex;
}

.keyboard-wrapper {
  display: inline-block;
}

.keyboard {
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  flex-direction: column-reverse;
}

.key {
  position: relative;
  cursor: pointer;
  display: flex;
  border: 1px solid #e5e3e3;
  color: black;
  background: white;
  padding: 0;
  justify-content: flex-end;
  align-items: end;
}

.item--natural-note {
  width: var(--portrait-natural-key-height);
  height: var(--key-width);
}

.key--natural-note {
  color: black;
  background: white;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.key.key--enabled,
.key--natural-note.key--enabled {
  color: white;
  background: #5b84c4;
}

.item--accidental-note {
  margin: calc(var(--key-width) * -0.5) 0;
  width: var(--portrait-accidental-key-height);
  height: var(--key-width);
}

.key--accidental-note {
  color: white;
  z-index: 1;
  background: #353535;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.key__name-wrapper {
  transform: rotate(-90deg);
  width: 6ch;
  height: 6ch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key__name,
.key__note-name {
  /* position: absolute;
  bottom: 8px;
  right: 8px;
  transform: rotate(-90deg); */
  /* left: 8px; */
  /* text-align: start; */
  /* text-align: end; */
  font-size: 1.2rem;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

.key__note-name {
  display: none;
}

.github-mark-wrapper {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin: 0 0 0 8px;
  transform: rotate(-90deg);
}

.github-mark {
  display: inline-block;
  height: 30px;
  width: 30px;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

/* Ref: https://stackoverflow.com/a/71472996 */
@media screen and (min-width: 100vh) {
  /* the width is greater than the height; assume mobile */
  .content {
    margin: 8px auto 0 auto;
    padding: 0;
  }

  .keyboard {
    /* make keyboard horizontal */
    flex-direction: row;
  }

  .item--natural-note {
    width: var(--key-width);
    height: var(--portrait-natural-key-height);
  }
  .item--accidental-note {
    margin: 0 calc(var(--key-width) * -0.5);
    height: var(--portrait-accidental-key-height);
    width: var(--key-width);
  }

  .key {
    justify-content: flex-start;
  }

  .key__name-wrapper {
    transform: unset;
  }

  .github-mark-wrapper {
    transform: unset;
  }
}
