/* Ref: https://www.codingnepalweb.com/playable-piano-html-css-javascript/ */

:root {
  --key-width: 90px;
  --portrait-natural-key-height: 192px;
  --portrait-accidental-key-height: 100px;
}

body {
  background: #e5e3e3;
}

.content {
  margin: 0 auto;
  width: fit-content;
  display: flex;
}

.keyboard-wrapper {
  display: inline-block;
}

.keyboard {
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.key {
  position: relative;
  cursor: pointer;
  border: 1px solid #e5e3e3;
  color: black;
  background: white;
}

.key--natural-note {
  width: var(--key-width);
  color: black;
  height: var(--portrait-natural-key-height);
  background: white;
  border-radius: 8px;
}

.key.key--enabled,
.key--natural-note.key--enabled {
  color: white;
  background: #5b84c4;
}

.key--accidental-note {
  color: white;
  z-index: 1;
  margin: 0 calc(var(--key-width) * -0.5);
  height: var(--portrait-accidental-key-height);
  background: #353535;
  width: var(--key-width);
  border-radius: 8px;
}

.key__name,
.key__note-name {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 0;
  text-align: start;
  font-size: 1.2rem;
}

.key__note-name {
  display: none;
}

.github-mark-wrapper {
  height: 32px;
  align-self: flex-end;
  margin: 0 0 2px 8px;
}

.github-mark {
  display: inline-block;
  height: 100%;
  width: auto;
}
